build/
_deps/
.vscode/
bin/
out/
*.exe
*.o
*.a
*.obj
*.pdb
*.ilk
*.suo
*.user
*.ncb
*.sln
*.vcxproj
*.filters
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
activity_log.txt
offsets.h
offsets.txt
range_dump.json
data_analysis.json
*.json
!signatures.json
