build/
!build/
!build/Release/
!build/Release/UniversalOffsetDumper.exe
_deps/
.vscode/
*.exe
!UniversalOffsetDumper.exe
*.o
*.a
*.obj
*.pdb
*.ilk
*.suo
*.user
*.ncb
*.sln
*.vcxproj
*.filters
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
